* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container  > * {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    /* gap: 2px; */
    grid-template: 
        "header" 62px
        "main"  auto
        "footer"    80px /
            1fr;
}

.header{
    background-color: #85aedd;
    grid-area: header;
    position:sticky;
    top: 0;
    height: 62px;
}

.main{
    background-color: #fdcfcf;
    grid-area: main;
}

.footer {
    background-color: #8c96a0;
    grid-area:footer;
    position:sticky;
    bottom: 0;
    height: 80px;
}

.sidebar-left{
    display: none;
    background-color: sandybrown;
}
.sidebar-right{
    display: none;
    background-color: slateblue;
}

.contenido-main {
    box-sizing: content-box;
    width: 100%;
    border: solid 2px rgba(0, 0, 0, 0.4);
    padding: 5px;
    height: 30vh;
    margin-top: 20px;
    /* margin-left:60px ; */
    
}


@media (min-width: 500px){ 
    .sidebar-left {
        display: inline-block;
    }
    .footer{
        display: none;
    }
    .grid-container {
        grid-template: 
        ". header" 62px
        "sidebar-left main"  auto /
            1fr   4fr;
    }

    .sidebar-left {
        grid-row: 1 / span 2;
        position:fixed;
        left: 0;
        height: 100%;
        width: 19.5vw;
    }

    .header {
        position:sticky;
        top: 0;
        height: 62px;
    }
   
}

@media(min-width: 688px){

    .sidebar-right{
        display: inline-block;
    }
    .grid-container{
        grid-template:
        ". header ." 62px
        "sidebar-left main sidebar-right" auto /
        1fr             4fr             1.5fr;
    }

    .sidebar-right {
        grid-column: 3 / 4;
        grid-row: 1 / span 2;
        position:fixed;
        width: 23.1%;
        top:0;
        right: 0;
        height: 100%;
    }

    .sidebar-right > * {
        opacity: 0;
    }
}

/*  988px sale informacion en la sidebar-right*/
@media(min-width: 988px){
    .sidebar-right  > *{
        opacity: 1;
    }
}
