body{
    background-color: dodgerblue;
}

.caja_principal{
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 2px;
    border-top: solid 0px;
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    height: 30%;
    margin: 0 auto;
}

.contenido{
    padding: 20px;
    border-bottom: solid 1px #eee;
    text-align: center;
    font-size: 50px;
    line-height: 100%;
    font-family: "Roboto",Verdana, Geneva, Tahoma, sans-serif;
}


.imgRedonda{
    width: 70px;
    height: 70px;
    border-radius:150px;
    float: left;
}
